.panel.panel-default
  .panel-heading
    .row
      .col-sm-6
        %h1
          = training.name
          %small= training.training_category.name
      .col-sm-6
        .btn.btn-default.pull-right 
          = link_to 'Register', new_registration_path(training_id: training)
  .panel-body
    .row
      .col-md-4
        %dl
          %dt Date / Time
          %dd
            = training.begin_date.strftime('%m/%d/%Y')
            to
            = training.end_date.strftime('%m/%d/%Y')

          %dt Location
          %dd= training.location

      .col-md-4
        %dl
          %dt Fee
          %dd= training.fee

          %dt Spots Availabile
          %dd= training.max_registrations

      .col-md-4
        %dl
          %dt Facilitators
          %dd= training.facilitators


    %hr
    %p= training.description