/ - content_for :js_onready do
/   = err_supply(@page)

%fieldset.well
  .row
    .col-md-12
      .form-group
        = f.label :parent
        = f.collection_select :parent_id, Page.all, :id, :title, {include_blank: true}, {class: 'form-control'}

      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control editor'

= button_tag t('buttons.save'), class: 'btn btn-primary'
= link_to t('buttons.cancel'), admin_pages_path, class: 'btn btn-default'

:coffeescript
  $ ->
    $('.editor').froalaEditor(
      codeBeautifier: true,
      codeMirror: true,
      codeMirrorOptions: {
        indentWithTabs: true,
        lineNumbers: true,
        lineWrapping: true,
        mode : "xml",
        htmlMode: true,
        tabMode: 'indent',
        tabSize: 2,
        theme: 'night'
      },
      fileUploadURL: '/admin/uploads',
      fileUploadParams: {
        authenticity_token: "#{form_authenticity_token}",
        contentType: "application/json"
      },
      fileUploadMethod: 'POST',
      fileUploadParam: "upload[upload]",
      imageUploadURL: '/admin/uploads',
      imageUploadParams: {
        authenticity_token: "#{form_authenticity_token}",
        contentType: "application/json"
      },
      imageUploadMethod: 'POST',
      imageUploadParam: "upload[upload]"
    )