%h1 Events

%p= link_to 'New Event', new_admin_event_path, class: 'btn btn-primary'

%table.table.table-default.table-striped.table-bordered
  %tr
    %th Name
    %th Begin Date
    %th End Date
    %th State
    %th Created At
    %th Actions

  - @events.each do |event|
    %tr
      %td= link_to event.name, event_path(event)
      %td= event.begin_date
      %td= event.end_date
      %td= event.state
      %td= event.created_at
      %td
        = link_to 'Destroy', admin_event_path(event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        = link_to 'Edit', edit_admin_event_path(event.id), class: 'btn btn-default'