.col-md-4.text-center
  %h3
    - if org.website
      = link_to org.name, org.website
    - else
      = org.name
  %p.small
    - if org.address
      = org.address
    - if org.city
      = " • #{org.city}"
    - if org.phone
      = " • #{org.phone}"
