%hr

.row
  .col-sm-12
    = link_to org do 
      %img.img-responsive.center-block{src: org.logo(:medium)}
    %br
    %br
.row
  .col-sm-6
    = link_to org do
      %img.img-responsive{src: org.photo}
  .col-sm-6
    %h1
      = link_to org do
        = org.name
    %h4= org.description
