%hr

.row
  .col-md-4
    = link_to org do 
      %img.img-responsive.center-block.faded{src: org.logo(:square)}
  .col-md-4
    = link_to org do
      %img.img-responsive.img-circle.center-block{src: org.staff_photo(:square)}
  .col-md-4
    = link_to org do
      %img.img-responsive.center-block.faded{src: org.photo}

.row
  .col-md-12.text-center
    %h2
      = "An interview with #{org.interviewee} - #{org.interviewee_title} of #{org.name}"

.row
  .col-sm-12.text-justify
    %p= "“#{org.description}”"
  .col-sm-12.text-center
    = link_to 'Read More', org, class: 'btn btn-primary btn-lg'