.page-header.text-center
  %h1= org.name

.row
  .col-sm-6.text-center
    %img.img-responsive.img-circle.center-block{src: org.staff_photo(:medium)}
    %h2= "#{org.interviewee} - #{org.interviewee_title}"

  .col-sm-6.text-center
    %img.img-responsive.center-block{src: org.logo(:medium)}

%hr

- if org.youtube_id and !org.youtube_id.empty?
  .row
    .col-md-2
    .col-md-8
      .embed-responsive.embed-responsive-16by9.text-center
        %iframe.embed-responsive-item{src: "https://www.youtube.com/embed/#{org.youtube_id}", frameborder: "0", allowfullscreen: ""}
    .col-md-2

  %hr

.row.text-center
  .col-sm-6
    %h2 Description
    %p= org.description

  .col-sm-6
    %img.img-responsive{src: org.photo}


.row.text-center
  .col-sm-6
    %img.img-responsive{src: org.photo_two}

  .col-sm-6
    %h2 What Makes You Proud
    %p= org.pride

.row.text-center
  .col-sm-6
    %h2 Get Involved
    %p= org.involvement

  .col-sm-6
    %img.img-responsive{src: org.photo_three}

.row.text-center
  .col-sm-6
    %img.img-responsive{src: org.photo_four}

  .col-sm-6
    %h2 How the Alliance Supports Us
    %p= org.alliance

%br
%br
