/ - content_for :js_onready do
/   = err_supply(@org)

%fieldset.well
  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :role
        = f.select :role, Org::ROLES.collect {|s| [s.capitalize, s]}, {}, {class: 'form-control'}

      .form-group
        = f.label :active
        = f.check_box :active, class: 'form-control'

      .form-group
        = f.label :spotlight
        = f.check_box :spotlight, class: 'form-control'

  .row
    .col-md-6
      .form-group
        = f.label :phone
        = f.text_field :phone, class: 'form-control'

      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'

      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'

      .form-group
        = f.label :website
        = f.text_field :website, class: 'form-control'

      .form-group
        = f.label :contact
        = f.text_field :contact, class: 'form-control'

    .col-md-6
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'

      .form-group
        = f.label :inspiration
        = f.text_area :inspiration, class: 'form-control'

      .form-group
        = f.label :pride
        = f.text_area :pride, class: 'form-control'

      .form-group
        = f.label :involvement
        = f.text_area :involvement, class: 'form-control'

      .form-group
        = f.label :alliance
        = f.text_area :alliance, class: 'form-control'

      .form-group
        = f.label :interviewee
        = f.text_field :interviewee, class: 'form-control'

      .form-group
        = f.label :interviewee_title
        = f.text_field :interviewee_title, class: 'form-control'

      .form-group
        = f.label :staff_photo
        = f.file_field :staff_photo
        - if @org.staff_photo.exists?
          = image_tag @org.staff_photo.url(:medium)

      .form-group
        = f.label :funding
        = f.text_area :funding, class: 'form-control'

      .form-group
        = f.label :logo
        = f.file_field :logo
        - if @org.logo.exists?
          = image_tag @org.logo.url(:medium)

      .form-group
        = f.label :photo
        = f.file_field :photo
        - if @org.photo.exists?
          = image_tag @org.photo.url(:medium)

      .form-group
        = f.label :photo_two
        = f.file_field :photo_two
        - if @org.photo_two.exists?
          = image_tag @org.photo_two.url(:medium)

      .form-group
        = f.label :photo_three
        = f.file_field :photo_three
        - if @org.photo_three.exists?
          = image_tag @org.photo_three.url(:medium)

      .form-group
        = f.label :photo_four
        = f.file_field :photo_four
        - if @org.photo_four.exists?
          = image_tag @org.photo_four.url(:medium)

      .form-group
        = f.label :youtube_id
        = f.text_field :youtube_id, class: 'form-control'



= button_tag t('buttons.save'), class: 'btn btn-primary'
= link_to t('buttons.cancel'), admin_posts_path, class: 'btn btn-default'