%hr

.row
  .col-sm-12.text-center
    %img.img-responsive.center-block{src: org.logo}
    %h1= org.name


.row.text-center
  .col-sm-6
    %h2 Description
    %p= org.description

  .col-sm-6
    %img.img-responsive{src: org.photo}


.row.text-center
  .col-sm-6
    %img.img-responsive{src: org.photo_two}

  .col-sm-6
    %h2 What Makes You Proud
    %p= org.pride

.row.text-center
  .col-sm-6
    %h2 Get Involved
    %p= org.involvement

  .col-sm-6
    %img.img-responsive{src: org.photo_three}

.row.text-center
  .col-sm-6
    %img.img-responsive{src: org.photo_four}

  .col-sm-6
    %h2 How the Alliance Supports Us
    %p= org.alliance

