.panel.panel-default
  .panel-heading.text-center
    %h1= link_to event.name, event
    %h4
      = event.begin_date.strftime('%b %d')
      = " - "
      = event.begin_date.strftime('%l:%M %P')
      = " - "
      = event.end_date.strftime('%l:%M %P')
    %p= link_to event.location, "http://maps.google.com/?q=#{event.location}", :target => "_blank"

  .panel-body
    .row
      .col-md-6
        = image_tag event.photo.url(:medium), class: 'img img-responsive img-rounded center-block'
      .col-md-6
        = event.summary
