.container.text-center
  .page-header
    %h1= link_to @event.name, @event.url
    %h3
      = @event.begin_date.strftime('%b %d')
      = " - "
      = @event.begin_date.strftime('%l:%M %P')
      = " - "
      = @event.end_date.strftime('%l:%M %P')
    %p= link_to @event.location, "http://maps.google.com/?q=#{@event.location}", :target => "_blank"


  .row
    .col-md-4
      = image_tag @event.photo.url(:medium), class: 'img img-responsive img-rounded center-block'
    .col-md-8.text-justify
      - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(hard_wrap: true), autolink: true)
      = markdown.render(@event.description).html_safe
%br
%br
%br