- if params[:id] == 'who-we-are'
  = render partial: 'shared/layouts/carousel'
  .page-body= @page.body.html_safe
  %br
  %br
  = render partial: 'events/index'
  = render partial: 'posts/index'
  = render partial: 'orgs/spotlight_summary'

- else
  .page-body= @page.body.html_safe

  - if current_user
    = link_to 'Edit', edit_admin_page_path(@page), class: 'btn btn-default'

  / ---------------------------

  - if params[:id] == 'member-spotlights'
    - Org.where(spotlight: true).order(:name).each do |org|
      .container
        = render partial: 'orgs/spotlight_short', locals: {org: org}
      %br
      %br

  / ---------------------------

  - if params[:id] == 'members'
    .container
      - Org.where(role: 'nonprofit').order(:name).each_slice(3) do |group|
        .row
          - group.each do |org|
            = render partial: 'orgs/nonprofit', locals: {org: org}
        %hr

  / ---------------------------

  - if params[:id] == 'trainings'
    %br
    .container
      = render partial: 'trainings/index', locals: {trainings: Training.all.where(active: true)}


  / ---------------------------

  - if params[:id] == 'blog'
    %br
    .container
      = render partial: 'posts/vertical_index', locals: {posts: Post.all.where(published: true).order(updated_at: :desc)}

  / ---------------------------

  - if params[:id] == 'career-center'
    %br
    .container
      = render partial: 'listings/index', locals: {listings: Listing.all.where(state: 'published').order(date_posted: :desc)}

  / ---------------------------


- if @page.menu
  :css
    .navbar {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      color: #eee;
      background: rgba(0, 0, 0, .1);
    }

  :css
    .navbar.scrolled {
      background: rgba(102,186,74,1);
    }

  :css
    body {
      padding-top: 0px;
    }