- orgs = Org.where(spotlight: true).order(:name)
- events = Event.where('state = ? AND begin_date >= ?', 'featured', Date.today).order(:begin_date)
- counter = 0

.carousel.slide#carousel-example-generic{"data-ride" => "carousel"}

  %ol.carousel-indicators
    - events.each_with_index do |event,i|
      - counter = i
      %li{"data-target" => "#carousel-example-generic", "data-slide-to" => i, :class => ("active" if i == 0)}

    - orgs.each_with_index do |org,i|
      %li{"data-target" => "#carousel-example-generic", "data-slide-to" => i + counter + 1}


  .carousel-inner{role: 'listbox'}
    - events.each_with_index do |event,i|
      .item{:class => ("active" if i == 0)}
        = image_tag event.photo.url(:large)
        .carousel-caption
          %h1= event.name
          = link_to 'Learn More', event, class: 'btn btn-default btn-primary'
          %h2
            = event.begin_date.strftime('%b %d')
            = " - "
            = event.begin_date.strftime('%l:%M %P')
            = " - "
            = event.end_date.strftime('%l:%M %P')


    - orgs.each_with_index do |org,i|
      .item
        = image_tag org.photo.url(:original)
        .carousel-caption
          %h1= org.name
          = link_to 'Learn More', org, class: 'btn btn-default btn-primary'
          %br
          %br


  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next