.row
  .col-sm-6
    %p= current_setting.title
    %p= current_setting.address
    %p= current_setting.phone
    %h3
      = link_to current_setting.facebook, :target => "_blank" do
        %i.fa.fa-facebook-official

      = link_to current_setting.twitter, :target => "_blank" do
        %i.fa.fa-twitter-square


  .col-sm-6.text-right
    %p= current_setting.footer