%title= app_title
%meta{ charset: 'utf-8' }
%meta{ name: 'description', content: "#{ app_description }" }
%meta{ name: 'viewport',    content: 'width=device-width, initial-scale=1.0' }
= csrf_meta_tag

/ styles
= stylesheet_link_tag 'application', media: 'all'
%style{ type: 'text/css', media: :all }
  = yield :css

/ javascripts
= javascript_include_tag 'application'
%script{ type: 'text/javascript', charset: 'utf-8' }
  = yield :js
  $(document).ready(function() {
  = yield :js_onready
  });

= analytics_init if GoogleAnalytics.valid_tracker?