/ - content_for :js_onready do
/   = err_supply(@post)

%fieldset.well
  .row
    .col-md-12
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control'

      .form-group
        = f.label :published
        = f.check_box :published

= button_tag t('buttons.save'), class: 'btn btn-primary'
= link_to t('buttons.cancel'), admin_posts_path, class: 'btn btn-default'