%h1 Trainings

%p= link_to 'New Training', new_admin_training_path, class: 'btn btn-primary'

%table.table.table-default.table-striped.table-bordered
  %tr
    %th Name
    %th Begin Date
    %th End Date
    %th State
    %th Created At
    %th Actions

  - @trainings.each do |training|
    %tr
      %td= link_to training.name, admin_training_path(training)
      %td= training.begin_date
      %td= training.end_date
      %td= training.state
      %td= training.created_at
      %td
        = link_to 'Destroy', admin_training_path(training), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        = link_to 'Edit', edit_admin_training_path(training), class: 'btn btn-default'