.col-md-12.text-center
  %hr
  = link_to post do
    %h2= "\“#{post.title}\”"

  %h4
    = post.updated_at.strftime('%B %d')


  %div= post.abstract
  %br
  %div= link_to 'Continue Reading', post, class: 'btn btn-default'