%h1 Users

%p= link_to 'New User', new_admin_user_path, class: 'btn btn-primary'

%table.table.table-default.table-striped.table-bordered
  %tr
    %th Email
    %th Name
    %th Role
    %th Login Count
    %td Current IP Address
    %td Actions

  - @users.each do |user|
    %tr
      %td= user.email
      %td= link_to user.name, admin_user_path(user)
      %td= user.role
      %td= user.login_count
      %td= user.current_login_at
      %td
        - if policy(user).destroy?
          = link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        - if policy(user).update?
          = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-default'