- content_for :js_onready do
  :plain
    app.updateFocus();


.container
  = form_for @user_session, :url => user_session_path do |f|
    %h2= t("user_sessions.new.header")
    
    %fieldset
      .form-group
        = f.label :email, nil
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :password, nil
        = f.password_field :password, class: 'form-control'

    .button_bar
      = f.submit t("buttons.submit"), class: 'btn btn-default'